@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  font-family: Microsoft JhengHei, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/*清除浮動*/
/*圖片取代文字*/
/*傳入一組字體顏色使其hover時變暗10%*/
.textcolor.red {
  color: red;
}

.textcolor.blue {
  color: blue;
}

.textcolor.green {
  color: green;
}

.textcolor.purple {
  color: purple;
}

.textcolor.orange {
  color: orange;
}

.textcolor.gray {
  color: gray;
}

.ribbon {
  position: absolute;
  z-index: 100;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.ribbon.top-right {
  top: -6px;
  right: -6px;
}

.ribbon.top-right.ribbon-default > small {
  position: absolute;
  display: block;
  width: 100%;
  padding: 8px 16px 8px 16px;
  text-align: center;
  text-shadow: 0 2px 0 #cecece;
  color: #000;
  background-color: #f4f4f4;
  /*建立小陰影 基礎值*/
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
  top: 17px;
  left: 28px;
  /*補上小陰影設定值*/
}

.ribbon.top-right.ribbon-default > small:before, .ribbon.top-right.ribbon-default > small:after {
  content: "";
  position: absolute;
}

.ribbon.top-right.ribbon-default > small:before {
  bottom: -6px;
  left: 0px;
  border-top: 3px solid #c1c1c1;
  border-left: 3px solid #c1c1c1;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon.top-right.ribbon-default > small:after {
  bottom: -6px;
  right: 0px;
  border-top: 3px solid #c1c1c1;
  border-left: 3px solid transparent;
  border-right: 3px solid #c1c1c1;
  border-bottom: 3px solid transparent;
}

.ribbon.top-right.ribbon-hexgreen > small {
  position: absolute;
  display: block;
  width: 100%;
  padding: 8px 16px 8px 16px;
  text-align: center;
  text-shadow: 0 2px 0 #008060;
  color: #fff;
  background-color: #00CC99;
  /*建立小陰影 基礎值*/
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
  top: 17px;
  left: 28px;
  /*補上小陰影設定值*/
}

.ribbon.top-right.ribbon-hexgreen > small:before, .ribbon.top-right.ribbon-hexgreen > small:after {
  content: "";
  position: absolute;
}

.ribbon.top-right.ribbon-hexgreen > small:before {
  bottom: -6px;
  left: 0px;
  border-top: 3px solid #00664d;
  border-left: 3px solid #00664d;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon.top-right.ribbon-hexgreen > small:after {
  bottom: -6px;
  right: 0px;
  border-top: 3px solid #00664d;
  border-left: 3px solid transparent;
  border-right: 3px solid #00664d;
  border-bottom: 3px solid transparent;
}

.ribbon.top-right.ribbon-dangerred > small {
  position: absolute;
  display: block;
  width: 100%;
  padding: 8px 16px 8px 16px;
  text-align: center;
  text-shadow: 0 2px 0 #b8202e;
  color: #fff;
  background-color: #df4554;
  /*建立小陰影 基礎值*/
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
  top: 17px;
  left: 28px;
  /*補上小陰影設定值*/
}

.ribbon.top-right.ribbon-dangerred > small:before, .ribbon.top-right.ribbon-dangerred > small:after {
  content: "";
  position: absolute;
}

.ribbon.top-right.ribbon-dangerred > small:before {
  bottom: -6px;
  left: 0px;
  border-top: 3px solid #a21c29;
  border-left: 3px solid #a21c29;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon.top-right.ribbon-dangerred > small:after {
  bottom: -6px;
  right: 0px;
  border-top: 3px solid #a21c29;
  border-left: 3px solid transparent;
  border-right: 3px solid #a21c29;
  border-bottom: 3px solid transparent;
}

.warp {
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  height: 380px;
  background: #ffffff url(https://hexschool.github.io/JavaScript_HomeWork/assets/Hero.png) no-repeat center top;
  background-size: cover;
  text-align: center;
}

.header h1 {
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 3.89px;
  padding-top: 89px;
}

.header .countrySelect {
  margin-top: 96px;
}

.header .countrySelect .countryddl {
  width: 452px;
  height: 48px;
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid #FFFFFF;
  border-radius: 3px;
}

@media screen and (max-width: 480px) {
  .header .countrySelect .countryddl {
    width: 80%;
  }
}

.postion_block {
  margin: 0px auto;
  max-width: 900px;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  border-bottom: 1px dashed #559AC8;
}

.postion_block .icon {
  display: block;
  background-color: #fff;
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 24px;
  height: 24px;
  overflow: hidden;
  border: 2px solid #559AC8;
  border-radius: 50%;
  text-align: center;
  color: #559AC8;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.postion_block .icon i {
  vertical-align: middle;
}

.postion_block .icon:hover {
  color: #3981b1;
  border: 2px solid #3981b1;
}

.hotCountry {
  width: 88.8888%;
  padding: 20px 26px 18px 20px;
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 576px) {
  .hotCountry {
    position: relative;
    margin-bottom: 20px;
    top: 0px;
    left: 0%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    margin: 0 auto;
  }
}

.hotCountry h2 {
  font-size: 18px;
}

.hotCountry .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .hotCountry .links {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.hotCountry .links li {
  margin-top: 14px;
  margin-left: 23px;
}

@media screen and (max-width: 480px) {
  .hotCountry .links li {
    margin-left: 0px;
  }
}

.hotCountry .links li:nth-child(1) a {
  width: 130px;
  height: 42px;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: #8A82CC;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hotCountry .links li:nth-child(1) a:hover {
  background: #685ebd;
}

.hotCountry .links li:nth-child(1) a:active {
  background: #4e43a5;
}

.hotCountry .links li:nth-child(2) a {
  width: 130px;
  height: 42px;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: #FFA782;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hotCountry .links li:nth-child(2) a:hover {
  background: #ff834f;
}

.hotCountry .links li:nth-child(2) a:active {
  background: #ff5f1c;
}

.hotCountry .links li:nth-child(3) a {
  width: 130px;
  height: 42px;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: #F5D005;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hotCountry .links li:nth-child(3) a:hover {
  background: #c3a604;
}

.hotCountry .links li:nth-child(3) a:active {
  background: #917b03;
}

.hotCountry .links li:nth-child(4) a {
  width: 130px;
  height: 42px;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: #559AC8;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hotCountry .links li:nth-child(4) a:hover {
  background: #3981b1;
}

.hotCountry .links li:nth-child(4) a:active {
  background: #2d658a;
}

.content {
  padding: 76px 40px 41px 40px;
}

.content .result_title {
  font-size: 36px;
  color: #8A82CC;
  text-align: center;
  margin-bottom: 24px;
}

.result_cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result_cube > li {
  width: 464px;
  margin-bottom: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}

@media screen and (max-width: 992px) {
  .result_cube > li {
    width: 100%;
    margin-bottom: 20px;
  }
}

.result_cube > li a {
  text-decoration: none;
}

.result_cube > li .picture {
  height: 155px;
  background: #ffffff url(https://hexschool.github.io/JavaScript_HomeWork/assets/Hero.png) no-repeat center center;
  background-size: cover;
  color: #ffffff;
  padding: 0px 24px 14px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 320px) {
  .result_cube > li .picture {
    font-size: 12px;
  }
}

.result_cube > li .picture .picture_text {
  font-size: 24px;
}

@media screen and (max-width: 320px) {
  .result_cube > li .picture .picture_text {
    font-size: 18px;
  }
}

.result_cube > li .info {
  padding: 15px 23px 20px 24px;
}

@media screen and (max-width: 320px) {
  .result_cube > li .info {
    font-size: 14px;
  }
}

.result_cube > li .info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.result_cube > li .info li img {
  margin-right: 9px;
}

.result_cube > li .info li:nth-child(2) {
  padding-left: 1px;
}

.result_cube > li .info li:nth-child(3) {
  padding-left: 3px;
}

.result_cube > li:hover {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.tags {
  position: absolute;
  right: 24px;
  bottom: 19px;
  color: #F5D005;
}

@media screen and (max-width: 320px) {
  .tags {
    right: 10px;
    bottom: 10px;
    font-size: 12px;
  }
}

.tags a {
  color: #4A4A4A;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.tags a:hover {
  color: rgba(74, 74, 74, 0.5);
}

.tags.notfree {
  color: #df4554;
}

.pagerbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 49px;
}

.pagerbar li:first-child {
  margin-right: 22px;
}

@media screen and (max-width: 320px) {
  .pagerbar li:first-child {
    margin-right: 10px;
  }
}

.pagerbar li:last-child {
  margin-left: 22px;
}

@media screen and (max-width: 320px) {
  .pagerbar li:last-child {
    margin-left: 10px;
  }
}

.pagerbar a {
  display: block;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
  color: #4A4A4A;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 320px) {
  .pagerbar a {
    padding: 5px;
  }
}

.pagerbar a:hover {
  color: rgba(74, 74, 74, 0.5);
}

.pagerbar .active {
  color: #559AC8;
}

.gotop {
  opacity: 0;
  position: fixed;
  right: 28px;
  bottom: 195px;
  width: 0px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #99c2de url(https://hexschool.github.io/JavaScript_HomeWork/assets/btn_goTop.png) no-repeat center center;
}

.gotop a {
  display: block;
  padding: 12px;
}

.gotop.show {
  opacity: 1;
  width: 24px;
  height: 24px;
}

.footer {
  background-color: #559AC8;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  color: #ffffff;
}

.footer h3 {
  margin-bottom: 15px;
}

.footer .sourceLink {
  margin-top: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #FFD366;
  text-decoration: none;
}

.footer .sourceLink:hover {
  color: #ffc433;
}

.viewpoint {
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.viewpoint .vp_img {
  height: 300px;
  background: #ffffff url(https://hexschool.github.io/JavaScript_HomeWork/assets/Hero.png) no-repeat center center;
  background-size: cover;
  color: #ffffff;
  padding: 0px 24px 14px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 28px;
}

.viewpoint .vp_img span {
  font-size: 20px;
}

.viewpoint .vp_info {
  padding: 15px 23px 20px 24px;
}

.viewpoint .vp_info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.viewpoint .vp_info li i {
  width: 16px;
  height: auto;
  margin-right: 10px;
}

.viewpoint .vp_info li a {
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.viewpoint .vp_info li a:hover {
  color: red;
}

.viewpoint .description h3 {
  padding-left: 23px;
  padding-right: 24px;
  font-size: 18px;
}

.viewpoint .description h3 i {
  width: 16px;
  height: auto;
  margin-right: 10px;
}

.viewpoint .description p {
  padding: 10px 25px 10px 25px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.goback {
  margin-top: 30px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: gray;
  text-decoration: none;
}

.goback:hover {
  color: #676767;
}

.goback i {
  margin-right: 5px;
  color: green;
}
/*# sourceMappingURL=all.css.map */